$color-text: #3d3d3d;
$color-title: #101020;
$color-input: #585858;
$color-white: #fff;
$color-pink: #ff0b53;
$color-section: #f8f8f8;
$color-border: #dedede;
$color-position: #575757;
$color-header-bg: #17191d;

$color-team: #f0f0f0;

$color-line: #676767;
$color-policy: #b1b1b1;
