.header {
  position: relative;

  padding: 30px 0 0;
  min-height: 100vh;
  max-height: 100vh;

  background-color: $color-header-bg;

  z-index: 1;

  @include onMobile {
    padding: 24px 0 0;
    height: 100%;

    min-height: 812px;
  }

  &__background {
    position: absolute;

    inset: 77px 0 0;

    z-index: 1;

    @include onMobile {
      top: 135px;
    }
  }

  &__img {
    object-fit: cover;

    width: 100%;
    height: 100%;

    border-radius: 7px;

    z-index: 1;
  }

  &__top {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 15;
  }

  &__logo {
    width: 192px;
    height: 55px;

    @include onMobile {
      width: 107px;
      height: 34px;
    }
  }

  &__middle {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    width: 100%;

    border-radius: 7px;

    box-shadow: 0px 4px 4px 0px #32323226;

    @include onMobile {
      position: relative;

      inset: 81px 0 0 0;
      transform: translate(0);
    }

    @include onDesktop {
      max-width: 1268px;
    }

    &-block {
      position: relative;
      z-index: 1;

      width: 100%;
      height: 100%;
    }

    &-wrapper {
      position: relative;

      z-index: 6;
      text-align: center;

      width: 100%;

      color: $color-white;

      @include onMobile {
        padding: 56px 15px;
      }

      @include onTable {
        padding: 64px 38px;
      }

      @include onDesktop {
        padding: 72px 46px;
      }
    }

    &-background {
      position: absolute;
      inset: 0;

      z-index: 5;
    }
  }

  &__title {
    font-weight: 700;

    @include onMobile {
      font-size: 34px;
      line-height: 39px;
    }

    @include onTable {
      font-size: 54px;
      line-height: 44px;
    }

    @include onDesktop {
      font-size: 72px;
      line-height: 83px;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    padding: 40px 0 0;

    @include onMobile {
      padding: 30px 0 0;

      font-size: 16px;
      line-height: 20px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 60px;

    @include onMobile {
      flex-direction: column;
      gap: 30px;

      padding: 40px 0 0;
    }

    @include onTable {
      padding: 20px 0 0;
    }

    @include onDesktop {
      padding: 114px 0 0;
    }
  }
}
