.team {
  position: relative;

  &__wrapper {
    @include grid;

    row-gap: 71px;
    width: 100%;

    @include onMobile {
      row-gap: 40px;
    }
  }

  &__cross {
    position: absolute;

    width: 148px;
    height: 148px;

    @include onMobile {
      width: 63px;
      height: 63px;
    }

    &--first {
      top: 100px;
      right: 317px;

      @include onMobile {
        top: 45px;
        right: 32px;
      }

      @include onTable {
        top: 50px;
        right: 37px;
      }
    }

    &--last {
      left: 115px;
      bottom: 62px;

      @include onMobile {
        display: none;
      }
    }
  }

  &__title {
    grid-column: 1 / 4;
    grid-row: 1;

    @include onMobile {
      grid-column: 1 / 4;
    }

    @include onTable {
      grid-column: 1 / 7;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;

    grid-column: 4 / 9;
    grid-row: 2;

    width: 100%;
    height: 100%;

    max-width: 633px;

    border-radius: 61px;
    background-color: $color-team;

    @include onMobile {
      grid-row: 3;
      grid-column: 1 / 7;

      max-height: 38px;
      max-width: 335px;
    }

    @include onTable {
      min-height: 68px;
      min-width: 633px;

      grid-column: 1 / 7;
    }

    @include onDesktop {
      grid-column: 5 / 10;
    }
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    text-align: center;

    color: $color-title;
    border-radius: 61px;

    padding: 0 43px 0 88px;

    transition: background-color 0.3s ease-in;

    @include onMobile {
      font-size: 18px;
      line-height: 21px;

      padding: 0 11px 0 40px;

      min-height: 38px;
    }

    @include onDesktop {
      font-weight: 500;
    }

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;

      transform: translateY(-50%);

      border: 2px solid $color-title;
      border-radius: 50%;

      @include onMobile {
        width: 14.33px;
        height: 14.33px;

        left: 13px;
      }

      @include onTable {
        width: 21px;
        height: 21px;

        left: 30.5px;
      }
    }

    &.active {
      &::before {
        border-color: $color-white;
      }
    }

    &.active {
      background-color: $color-pink;
      color: $color-white;

      &::after {
        content: "";
        position: absolute;

        background-color: $color-white;
        border-radius: 50%;

        top: 49%;
        transform: translateY(-50%);

        @include onMobile {
          width: 8.66px;
          height: 8.66px;

          left: 17.63px;
        }

        @include onTable {
          width: 12.33px;
          height: 12.33px;

          left: 37px;

          top: 50%;
        }
      }
    }

    &:not(.active):hover {
      color: $color-pink;

      &::before {
        border-color: $color-pink;
      }
    }
  }

  &__img {
    width: 30px;
    height: 30px;

    fill: #09121f;

    @include onMobile {
      width: 22px;
      height: 22px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;

    gap: 18px;

    grid-column: 1 / 6;
    grid-row: 3;

    @include onMobile {
      grid-row: 2;

      grid-column: 1 / 7;

      margin: -10px 0 0;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 34px;
    line-height: 39px;

    color: $color-title;

    @include onMobile {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__paragraph {
    font-size: 24px;
    line-height: 35px;

    color: $color-text;

    @include onMobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__carousel {
    grid-column: 4 / 13;
    grid-row: 3;

    width: 100%;

    @include onMobile {
      grid-row: 4;

      grid-column: 1 / 7;
    }

    @include onDesktop {
      grid-column: 5 / 13;
    }
  }
}
